@using ShoppingStore.Infrastructure.LanguagesResources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ShoppingStoreDemo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resource.Home, "Index", "Home", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("_RightNavBar")



            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Resource.Login</h5>
                    <div id="login-error-message"></div>
                </div>

                <form id="loginForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username">@Resource.UserName</label>
                            <input id="login-username" name="username" class="form-control" type="text" />
                            <label id="login-username-error" class="error" for="login-username"></label>
                        </div>
                        <div class="form-group">
                            <label for="password">@Resource.Password</label>
                            <input id="login-password" name="password" class="form-control" type="password" />
                            <label id="login-password-error" class="error" for="login-password"></label>
                        </div>
                        <h5>
                            @Resource.NoReceiveEmail
                            <a href="#" id="no-received-email" data-toggle="modal" data-target="#sendEmailModal">@Resource.SendAgain</a>
                        </h5>
                        <h5>
                            @Resource.GoRegister
                            <a href="#" id="login-register" data-toggle="modal" data-target="#registerModal">@Resource.Register</a>
                        </h5>
                        <h5>
                            <a href="#" id="forgot-password" data-toggle="modal" data-target="#sendEmailModal">@Resource.ForgotPassword</a>
                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">@Resource.Login</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <div id="sendEmailModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="emailForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="send_email">@Resource.Email</label>
                            <input id="send_email" name="send_email" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="@Resource.Send" />
                        <button id="email_goback" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">@Resource.GoBack</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Resource.Register</h5>
                    <div id="register-error-message"></div>
                </div>

                <form id="registerForm">
                    <div class="modal-body">

                        <div class="form-group">

                            <label for="username">@Resource.UserName</label>
                            <input id="register-username" name="username" class="form-control" type="text" />
                            <label id="register-username-error" class="error" for="register-username"></label>

                        </div>
                        <div class="form-group">
                            <label for="email">@Resource.Email</label>
                            <input id="register-email" name="email" class="form-control" type="email" />
                            <label id="register-email-error" class="error" for="register-email"></label>

                        </div>
                        <div class="form-group">
                            <label for="password">@Resource.Password</label>
                            <input id="register-password" name="password" class="form-control" type="password" />
                            <label id="register-password-error" class="error" for="register-password"></label>
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">@Resource.ConfirmPassword</label>
                            <input id="register-passwordConfirm" name="password_confirm" class="form-control" type="password" />
                            <label id="register-passwordConfirm-error" class="error" for="register-passwordConfirm"></label>
                        </div>
                        <h5>
                            @Resource.GoLogin
                            <a href="#" id="register-login" data-toggle="modal" data-target="#loginModal">@Resource.Login</a>
                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">@Resource.Register</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Cancel</button>
                    </div>
                </form>


            </div>
        </div>
    </div>

    <div class="modal fade" id="register-success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Register Successful,Please go to your email account confirm your email</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom");
    @RenderSection("scripts", required: false)
</body>
</html>





