@using ShoppingStore.Infrastructure.LanguagesResources
<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li class="notifications">
            <a href="#">
                <i class="glyphicon glyphicon-globe"></i>
                <span class="badge js-notifications-count hide"></span>
            </a>
        </li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Manage", "Index", "AccountManager")</li>
            </ul>
        </li>

        <li class="logout">
            <a href="#" value="Logout" id="logoutButton">@Resource.Logout</a>
        </li>
    }
    else
    {
        <li class="register">
            <a href="#" id="registerInput" data-toggle="modal" data-target="#registerModal">@Resource.Register</a>
        </li>


        <li class="login">
            <a href="#" id="loginInput" data-toggle="modal" data-target="#loginModal">@Resource.Login</a>
        </li>
    }

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            @Resource.Language
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Resource.English, "SetCulture", "Culture", new { culture = "en-us" }, null)</li>
            <li>@Html.ActionLink(Resource.Chinese, "SetCulture", "Culture", new { culture = "zh-TW" }, null)</li>
        </ul>
    </li>
</ul>


